/*选择器 与 { 之间必须包含空格 */
/*属性名 与之后的 : 之间不允许包含空格， : 与 属性值 之间必须包含空格 */
* {
	padding: 0;
}
h1 {
    width: 90% ;
    height: 30px;
    padding: 20px;
    margin: 0 ;
    text-align: left;
    background-color: grey;
	float: top;
	color: white;
}
.column {
	display: inline-block;
	background-color: #aaa;
	height: 100px;
	width: 20%;
	text-align: center;

	
	line-height: 100px;
	border-bottom: 1px solid #fff;
	float: left;

}
.row {
	display: inline-block;

	width: 80%;
	height: 100px;
	float: right;
	border-bottom: 1px solid #aaa;
}

.b-info {
	font-weight:bold;
}
.info {
	font-weight:bold;
}
p {
	line-height: 8px;
}