/*选择器 与 { 之间必须包含空格。*/
/*属性名 与之后的 : 之间不允许包含空格， : 与 属性值 之间必须包含空格 */
h1 {
    width: 7% ;
    height: 450px;
    padding: 50px;
    margin: 0px;
    text-align: center;
    background-color: #227788;
	float: left;
	color: white;
}
div {
	text-indent: 20px;
}
span {
	text-indent: 20px;
}
.info {
	font-weight: bold;
	text-indent: 20px;
	width: 90%;
	padding: 0;
}
p {
	line-height: 8px;
}